<!-- You'll need to set up your own formspree account, just submit the form once and confirm you email -->
<div class="contact-wrap text-centered">
  <form action="//formspree.io/<%= theme.contact_email %>" method="POST" data-aos="zoom-in">      
	  <input name="name" type="text" class="feedback-input" placeholder="Name" />   
	  <input name="email" type="text" class="feedback-input" placeholder="Email" />
	  <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
	  <input type="submit" value="SUBMIT"/>
	</form>
</div>