<div class="index-wrap text-centered">
	<div class="row text-centered" data-aos="zoom-in">
		<h2>Index Text</h2>
		<div class="flex-center">
			<div class="col-8 header-info text-centered">		
				<p>Write a little bit about yourself here.</p>
			</div>
		</div>
	</div>
	<div class="row text-centered push-down" data-aos="zoom-in">
		<h2>Some more specifics</h2>
		<div class="flex-center">
			<div class="col-4 mb-f svg">
				<svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" class="svg-img brackets"><path d="M553 1399l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23t-10 23l-393 393 393 393q10 10 10 23t-10 23zm591-1067l-373 1291q-4 13-15.5 19.5t-23.5 2.5l-62-17q-13-4-19.5-15.5t-2.5-24.5l373-1291q4-13 15.5-19.5t23.5-2.5l62 17q13 4 19.5 15.5t2.5 24.5zm657 651l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23t-10 23z"/></svg>
			</div>
			<div class="col-4 mb-f text">
				<p>Tagline here about something that you do</p>
			</div>
		</div>
	</div>
	<div class="row text-centered flex-center push-down" data-aos="zoom-in">
		<div class="col-4 mb-f text">
			<p>Another tagline or elevator pitch here</p>
		</div>
		<div class="col-4 mb-f svg">
			<svg class="svg-img circuit" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 64 80" style="enable-background:new 0 0 64 64;" xml:space="preserve"><g><path d="M6,57.184V46.535L8.303,45H12v-2H7.697L4,45.465v11.719C2.839,57.598,2,58.698,2,60c0,1.654,1.346,3,3,3s3-1.346,3-3   C8,58.698,7.161,57.598,6,57.184z M5,61c-0.551,0-1-0.449-1-1s0.449-1,1-1s1,0.449,1,1S5.551,61,5,61z"/><path d="M6.816,41H12v-2H6.816C6.402,37.839,5.302,37,4,37c-1.654,0-3,1.346-3,3s1.346,3,3,3C5.302,43,6.402,42.161,6.816,41z    M3,40c0-0.551,0.449-1,1-1s1,0.449,1,1s-0.449,1-1,1S3,40.551,3,40z"/><path d="M4,35c1.302,0,2.402-0.839,2.816-2H12v-2H6.816C6.402,29.839,5.302,29,4,29c-1.654,0-3,1.346-3,3S2.346,35,4,35z M4,31   c0.551,0,1,0.449,1,1s-0.449,1-1,1s-1-0.449-1-1S3.449,31,4,31z"/><rect x="8" y="35" width="4" height="2"/><rect x="8" y="27" width="4" height="2"/><rect x="1" y="23" width="11" height="2"/><path d="M8.586,21H12v-2H9.414L7,16.586v-1.77C8.161,14.402,9,13.302,9,12c0-1.654-1.346-3-3-3s-3,1.346-3,3   c0,1.302,0.839,2.402,2,2.816v2.598L8.586,21z M6,11c0.551,0,1,0.449,1,1s-0.449,1-1,1s-1-0.449-1-1S5.449,11,6,11z"/><polygon points="19,9.414 19,12 21,12 21,8.586 17.414,5 1,5 1,7 16.586,7  "/><polygon points="23,5.414 23,12 25,12 25,4.586 21.414,1 1,1 1,3 20.586,3  "/><rect x="27" y="8" width="2" height="4"/><rect x="39" y="1" width="2" height="11"/><path d="M31,6.816V12h2V8.414l2,2V12h2V9.586l-3.201-3.201C34.524,5.837,35,4.977,35,4c0-1.654-1.346-3-3-3s-3,1.346-3,3   C29,5.302,29.839,6.402,31,6.816z M32,3c0.551,0,1,0.449,1,1s-0.449,1-1,1s-1-0.449-1-1S31.449,3,32,3z"/><path d="M45,7.414L47.414,5h9.77C57.486,5.847,58.153,6.514,59,6.816v13.77L56.586,23H52v2h5.414L61,21.414V6.816   C62.161,6.402,63,5.302,63,4c0-1.654-1.346-3-3-3c-1.302,0-2.402,0.839-2.816,2H46.586L43,6.586V12h2V7.414z M60,3   c0.551,0,1,0.449,1,1s-0.449,1-1,1s-1-0.449-1-1S59.449,3,60,3z"/><path d="M52.76,13.174l2.24,2.24v1.172L52.586,19H52v2h1.414L57,17.414v-2.828L53.414,11h-0.598C52.402,9.839,51.302,9,50,9   c-1.654,0-3,1.346-3,3s1.346,3,3,3C51.238,15,52.302,14.246,52.76,13.174z M50,13c-0.551,0-1-0.449-1-1s0.449-1,1-1s1,0.449,1,1   S50.551,13,50,13z"/><rect x="52" y="27" width="11" height="2"/><path d="M61,57.184V34.586L57.414,31H52v2h4.586L59,35.414v5.172L57.414,39H52v2h4.586L59,43.414v13.77   c-1.161,0.414-2,1.514-2,2.816c0,1.654,1.346,3,3,3s3-1.346,3-3C63,58.698,62.161,57.598,61,57.184z M60,61c-0.551,0-1-0.449-1-1   s0.449-1,1-1s1,0.449,1,1S60.551,61,60,61z"/><rect x="52" y="35" width="4" height="2"/><path d="M57,57.414V46.586L53.414,43H52v2h0.586L55,47.414V53H45v-1h-2v3h12v1.586L52.586,59h-1.77c-0.414-1.161-1.514-2-2.816-2   c-1.654,0-3,1.346-3,3s1.346,3,3,3c1.302,0,2.402-0.839,2.816-2h2.598L57,57.414z M48,61c-0.551,0-1-0.449-1-1s0.449-1,1-1   s1,0.449,1,1S48.551,61,48,61z"/><path d="M21,55v-3h-2v1h-5.184c-0.414-1.161-1.514-2-2.816-2c-1.654,0-3,1.346-3,3s1.346,3,3,3c1.302,0,2.402-0.839,2.816-2H21z    M11,55c-0.551,0-1-0.449-1-1s0.449-1,1-1s1,0.449,1,1S11.551,55,11,55z"/><rect x="39" y="52" width="2" height="11"/><rect x="35" y="52" width="2" height="11"/><path d="M31,53.586l-2,2V52h-2v5.184c-1.161,0.414-2,1.514-2,2.816c0,1.654,1.346,3,3,3s3-1.346,3-3   c0-0.977-0.476-1.837-1.201-2.385L33,54.414V52h-2V53.586z M28,61c-0.551,0-1-0.449-1-1s0.449-1,1-1s1,0.449,1,1S28.551,61,28,61z"/><polygon points="25,52 23,52 23,54.586 20,57.586 20,63 22,63 22,58.414 25,55.414  "/><path d="M43,48v2h2v-2h3v-3h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-2h2v-2h-2v-3h-3v-2h-2v2h-2v-2h-2v2   h-2v-2h-2v2h-2v-2h-2v2h-2v-2h-2v2h-2v-2h-2v2h-2v-2h-2v2h-0.414L16,18.586V19h-2v2h2v2h-2v2h2v2h-2v2h2v2h-2v2h2v2h-2v2h2v2h-2v2   h2v2h-2v2h2v3h3v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2h2v2h2v-2H43z M18,19.414L19.414,18H46v28H18V19.414z"/><path d="M40.861,27.381l1.745-1.745l-4.243-4.243l-1.745,1.745c-0.521-0.272-1.062-0.497-1.619-0.672V20h-6v2.466   c-0.557,0.175-1.098,0.4-1.619,0.672l-1.745-1.745l-4.243,4.243l1.745,1.745c-0.272,0.52-0.497,1.061-0.672,1.619H20v6h2.466   c0.176,0.558,0.4,1.099,0.672,1.619l-1.745,1.745l4.243,4.243l1.745-1.745c0.52,0.272,1.061,0.497,1.619,0.672V44h6v-2.466   c0.558-0.176,1.099-0.4,1.619-0.672l1.745,1.745l4.243-4.243l-1.745-1.745c0.272-0.521,0.497-1.062,0.672-1.619H44v-6h-2.466   C41.358,28.443,41.134,27.902,40.861,27.381z M42,33h-2.029l-0.177,0.779c-0.198,0.874-0.544,1.706-1.027,2.473l-0.425,0.675   l1.437,1.437l-1.415,1.415l-1.437-1.437l-0.676,0.425c-0.766,0.483-1.598,0.828-2.473,1.027L33,39.971V42h-2v-2.029l-0.778-0.177   c-0.875-0.199-1.707-0.544-2.473-1.027l-0.676-0.425l-1.437,1.437l-1.415-1.415l1.437-1.437l-0.425-0.676   c-0.483-0.766-0.828-1.598-1.027-2.473L24.029,33H22v-2h2.029l0.177-0.778c0.199-0.875,0.544-1.707,1.027-2.473l0.425-0.676   l-1.437-1.437l1.415-1.415l1.437,1.437l0.675-0.425c0.768-0.483,1.6-0.829,2.473-1.027L31,24.029V22h2v2.029l0.779,0.177   c0.874,0.198,1.706,0.544,2.473,1.027l0.675,0.425l1.437-1.437l1.415,1.415l-1.437,1.437l0.425,0.675   c0.483,0.768,0.829,1.6,1.027,2.473L39.971,31H42V33z"/><path d="M32,27c-2.757,0-5,2.243-5,5s2.243,5,5,5s5-2.243,5-5S34.757,27,32,27z M32,35c-1.654,0-3-1.346-3-3s1.346-3,3-3   s3,1.346,3,3S33.654,35,32,35z"/></g><!--<text x="0" y="79" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by Eucalyp</text><text x="0" y="84" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text>--></svg>
		</div>
	</div>
	<div class="row text-centered flex-center push-down" data-aos="zoom-in">
		<div class="col-4 mb-f svg">
			<svg class="svg-img pen" id="Layer_1" style="enable-background:new 0 0 80 80;" version="1.1" viewBox="0 0 80 80" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><g id="Layer_2"><g id="Layer_3"><polygon points="61.8,71.8 8.4,71.8 8.4,18.4 35.1,18.4 35.1,15.4 5.4,15.4 5.4,74.8 64.8,74.8 64.8,41.5 61.8,41.5   "/><path d="M22.6,46.2l-2.1,13.1l13.1-2.1l1.3-1.4l0,0l39.8-39.7L63.7,5.2L24,44.9L22.6,46.2z M25.3,48.3l6.1,6.2L24,55.7L25.3,48.3z     M70.4,16.1l-3.9,4l-6.6-6.7l4-3.9L70.4,16.1z M57.7,15.5l6.7,6.7L33.8,52.7L27.2,46L57.7,15.5z"/></g></g></svg>
		</div>
		<div class="col-4 mb-f text">
			<p>Even another elevator pitch if you have them. Add or remove what works for you!</p>
		</div>
	</div>

	<div class="row text-centered push-down" data-aos="zoom-in">
		<h2>Give Me a Shout!</h2>
		<p>Something about contacting you here.</p>
		<p class="btn-wrap">
			<a class="icon" id="mail" href="/contact"> Contact Me</a>
		</p>
	</div>

</div>