<div class="portfolio-wrap text-centered">
	<div class="row flex-center" data-aos="zoom-in">
		<div class="col-4 mb-f">
			<!-- change the image in 'source/_scss/style.scss' line 123 -->
			<img class="placeholder">
		</div>
		<div class="col-6 mb-f col-2-push">
			<h2>Portfolio Title 1</h2>
			<h3>Portfolio Subtitles</h3>
			<p>Portfolio 1 Description goes in here.</p>
			<p class="btn-wrap">
				<a class="icon" id="ext-link" href="#"> Button Text</a>
			</p>
		</div>
	</div>

	<div class="row flex-center" data-aos="zoom-in">
		<div class="col-6 mb-f">
			<h2>Portfolio Title 2</h2>
			<h3>Portolio Subtitles</h3>
			<p>Portfolio 1 Description goes in here.</p>
			<p class="btn-wrap">
				<a class="icon" id="ext-link" href="#"> Button Text</a>
			</p>
		</div>
		<div class="col-4 mb-f col-2-push">
			<img class="placeholder">
		</div>
	</div>

	<div class="row flex-center" data-aos="zoom-in">
		<div class="col-4 mb-f">
			<!-- change the image in 'source/_scss/style.scss' line 123 -->
			<img class="placeholder">
		</div>
		<div class="col-6 mb-f col-2-push">
			<h2>Portfolio Title 3</h2>
			<h3>Portfolio Subtitles</h3>
			<p>Portfolio 3 Description goes in here.</p>
			<p class="btn-wrap">
				<a class="icon" id="ext-link" href="#"> Button Text</a>
			</p>
		</div>
	</div>

	<div class="row flex-center" data-aos="zoom-in">
		<div class="col-6 mb-f">
			<h2>Portfolio Title 4</h2>
			<h3>Portolio Subtitles</h3>
			<p>Portfolio 4 Description goes in here.</p>
			<p class="btn-wrap">
				<a class="icon" id="ext-link" href="#"> Button Text</a>
			</p>
		</div>
		<div class="col-4 mb-f col-2-push">
			<img class="placeholder">
		</div>
	</div>

</div>