<footer class="blog-footer">
	<div class="icons-block">
		<% if (theme.upwork) { %><a id="code-link" class="icon" href="https://www.upwork.com/o/profiles/users/<%= theme.upwork %>/" target="_blank"></a><% } %>
		<% if (theme.github) { %><a id="github-link" class="icon" href="https://github.com/<%= theme.github %>" target="_blank"></a><% } %>
	</div>
	<div class="text-block">
		<p>Copyright © 2017 </p>
		<p>Theme by <a href="https://github.com/tljesse/tristanJesseHexo">Tristan Jesse</a></p>
		<p class="last">Powered by <a href="https://hexo.io/">Hexo</a></p>
	</div>
</footer>