// 12 column grid

%clearfix:after {
	display: block;
	clear: both;
	content: '';
}

$grid-spacing: 3%;

.main {
	max-width: 64rem;
	//width: 90%;
	margin: 0px auto;
	margin-bottom: 60px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	@extend %clearfix;

	& + & {
		margin-top: $grid-spacing;
	}

	&.push-down {
		margin-top: 10em;
	}
}

[class^="col-"] {
	float: left;
	margin-right: $grid-spacing;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:last-child {
		margin-right: 0%;
	}
}

.col-1   { width: (100% / 12) - ($grid-spacing * 11 / 12); }
.col-2   { width: (100% / 6) - ($grid-spacing * 10 / 12); }
.col-3   { width: (100% / 4) - ($grid-spacing * 9 / 12); }
.col-4   { width: (100% / 3) - ($grid-spacing * 8 / 12); }
.col-5   { width: (100% / 2.4) - ($grid-spacing * 7 / 12); }
.col-6   { width: (100% / 2) - ($grid-spacing * 6 / 12); }
.col-7   { width: (100% / 1.714285714285714) - ($grid-spacing * 5 / 12); }
.col-8   { width: (100% / 1.5) - ($grid-spacing * 4 / 12); }
.col-9   { width: (100% / 1.333333333333333) - ($grid-spacing * 3 / 12); }
.col-10  { width: (100% / 1.2) - ($grid-spacing * 2 / 12); }
.col-11  { width: (100% / 1.090909090909091) - ($grid-spacing * 1 / 12); }
.col-12  { width: 100%; }

.col-1-push { margin-left: (100% / 12) - ($grid-spacing * 11 / 12); }
.col-2-push { margin-left: (100% / 6) - ($grid-spacing * 10 / 12); }

/****************************
 * Mobile grid styles
 */
@media (max-width: 767px) {
	.main {
		margin: 0 15px 60px 15px;
	}
	.mb-f {
		display: block;
		width: 100%;
		margin-left: 0;
	}
	.mb-none {
		display: none;
	}

	// fix for putting image on top
	.portfolio-wrap {
		.flex-center {
			min-height: 100%;
			margin-bottom: 10em;
			@include display(flex);
			@include flex-direction(column);

			> .col-4 { order: 1 }
			> .col-6 { order: 2 }
		}
	}

	.index-wrap {
		.flex-center {
			@include flex-direction(column);

			> .svg { order: 1 }
			> .text { order: 2 }
		}
	}
}